<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Directory" value="C:\Users\John\Downloads\WebPages\"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add type="System.Diagnostics.TextWriterTraceListener" name="TextWriter"
             initializeData="trace.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
    <services>
      <service name="StoreAndConvert.WCFService.StoreUrls">
        <endpoint address="" binding="webHttpBinding" contract="StoreAndConvert.WCFService.IStoreUrls" bindingConfiguration="binding" behaviorConfiguration="one" />
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="SecureBinding"          contract="StoreAndConvert.WCFService.IStoreUrls" />
      </service>
      <!--<service name="WcfJsonRestService.StoreUrls">
        <endpoint address=""
              binding="webHttpBinding"
              contract="WcfJsonRestService.IStoreUrls" bindingConfiguration="binding" behaviorConfiguration="one"/>
        <endpoint address=""
      binding="webHttpBinding"
      contract="WcfJsonRestService.IStoreUrls" bindingConfiguration="SecureBinding" />
      </service>-->
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="SecureBinding" crossDomainScriptAccessEnabled="true">
          <security mode="Transport"/>
        </binding>
        <binding name="binding" crossDomainScriptAccessEnabled="true">
          <security mode="None"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp/>
          <!--<enableWebScript/>-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>