<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CertificateSubjectName" value="lled"/>
    <add key="StoreDirectory" value="C:\Users\John\Downloads\WebPages\"/>
    <add key="SSLPort" value="3141"/>
    <add key="HTTPPort" value="2718"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add type="System.Diagnostics.TextWriterTraceListener" name="TextWriter"
             initializeData="trace.log" />
      </listeners>
    </trace>
  </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>