<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <EnsureTable Id='ComboBox'/>
    
    <UI Id="GUI">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="FeatureTree" />
      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <!--<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="ServiceUserCredentialsDlg">1</Publish>-->
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">Installed</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">NOT Installed</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="DatabaseDlg">1</Publish>
      <Publish Dialog="DatabaseDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="DatabaseDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="DatabaseDlg" Order="1">NOT Installed OR WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed</Publish>
      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
      <Property Id="ARPNOMODIFY" Value="1" />

      <Dialog Id="DatabaseDlg" Width="370" Height="270" Title="[ProductName] Setup">
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Portal Settings" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Enter Details" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />

        <Control Id="lHTTPPort" Type="Text"   X="20" Y="50" Width="135" Height="13" Text="HTTP Port:" />
        <Control Id="HTTPPort" Type="Edit"    X="161" Y="50" Width="180" Height="15" Property="HTTPPORT"  Integer="yes"/>
        <Control Id="lSSLPort" Type="Text"   X="20" Y="70" Width="135" Height="13" Text="SSL Port:" />
        <Control Id="SSLPort" Type="Edit"    X="161" Y="70" Width="180" Height="15" Property="SSLPORT"  Integer="yes" ToolTip="Ensure a number is entered"/>
        <Control Id="lKindle" Type="Text" X="20" Y="90" Width="135" Height="13" Text="Kindle Email:" />
        <Control Id="Kindle" Type="Edit" X="161" Y="90" Width="180" Height="15" Property="KINDLEEMAILADDRESS" ToolTip="Your Kindle's email address" />
        <Control Id="lEmail" Type="Text" X="20" Y="110" Width="135" Height="13" Text="Email Address:" />
        <Control Id="Email" Type="Edit" X="161" Y="110" Width="180" Height="15" Property="EMAILADDRESS" ToolTip="The sending email address"/>
        <Control Id="lPassword" Type="Text" X="20" Y="130" Width="135" Height="13" Text="Email Address Password:" />
        <Control Id="Password" Type="Edit" Password="yes" X="161" Y="130" Width="180" Height="15" Property="PASSWORD" ToolTip="This will be encrypted" />
        <Control Id="lCPassword" Type="Text" X="20" Y="150" Width="135" Height="13" Text="Confirm Email Address Password:" />
        <Control Id="CPassword" Type="Edit" Password="yes" X="161" Y="150" Width="180" Height="15" Property="CPASSWORD" ToolTip="This will be encrypted" />
        <Control Id="lCert" Type="Text" X="20" Y="170" Width="135" Height="13" Text="Select Certificate:" />
        <Control Type="ComboBox" Property="CERT" Id="CertList" X="161" Y="170" Width="180" Height="15" ComboList="yes" Sorted="yes" />
        

        
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="Next">
          <Condition Action="disable">
            <![CDATA[ (SSLPORT = "") OR (HTTPPORT="") OR (PASSWORD<>CPASSWORD)]]>
          </Condition>
          <Condition Action="enable">
            <![CDATA[(SSLPORT <> "") AND (HTTPPORT<>"") AND (PASSWORD=CPASSWORD)]]>
          </Condition>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="Back" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>
    </UI>
    <UIRef Id="WixUI_Common" />
	</Fragment>
</Wix>