<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="63C69432-ADC1-4A6E-9DF3-4D0CC57F505F"
           Name="Store and Convert"
           Language="1033"
           Version="1.0.0.0" Manufacturer="Manyrootsofallevil Inc." UpgradeCode="55B78347-DDC4-456E-95F3-4408C571505F">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated"  Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Property Id="FRAMEWORKBASEPATH">
      <RegistrySearch Id="FindFrameworkDir" Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework" Name="InstallRoot" Type="raw" Win64="no"/>
    </Property>
    <Property Id="ASPNETREGIIS" >
      <DirectorySearch Path="[FRAMEWORKBASEPATH]" Depth="4" Id="FindAspNetRegIis">
        <FileSearch Name="aspnet_regiis.exe" MinVersion="4.0.3"/>
      </DirectorySearch>
    </Property>

    <Property Id="EBOOKCONVERTER64">
      <RegistrySearch Id="FindCalibre" Root="HKLM" Key="SOFTWARE\calibre 64bit\Installer"  Name="InstallPath" Type="raw" Win64="yes"/>
    </Property>

    <Property Id="SSLPORT" Value="31415"/>
    <Property Id="HTTPPORT" Value="27182"/>

    <Binary Id="CA" SourceFile="$(var.CustomAction.TargetDir)CustomAction.CA.dll"/>
    <CustomAction Id="GetInstalledCertificates" BinaryKey="CA" DllEntry="GetInstalledCertificates" Execute="immediate" Return="ignore"/>
    <CustomAction Id="GiveWriteAccess" BinaryKey="CA" DllEntry="GiveWriteAccess" Execute="immediate" />
    <CustomAction Id="EncryptConfigFile" BinaryKey="CA" DllEntry="EncryptConfigFile" Execute="immediate" />
    <CustomAction Id="GrantAccessToConfig" Directory="INSTALLFOLDER" ExeCommand="[ASPNETREGIIS] -pa NetFrameWorkConfigurationKey &quot;NT Authority\Network Service&quot;"  Return="check"/>
    <CustomAction Id="RemoveAccessToConfig" Directory="INSTALLFOLDER" ExeCommand="[ASPNETREGIIS] -pr NetFrameWorkConfigurationKey &quot;NT Authority\Network Service&quot;"  Return="check"/>

    <InstallExecuteSequence>
      <!--These run on install-->
      <Custom Action="GiveWriteAccess" After="InstallFinalize">NOT Installed</Custom>
      <!--<Custom Action="EncryptConfigFile" After="GiveWriteAccess">NOT Installed</Custom>
      <Custom Action="GrantAccessToConfig" After="EncryptConfigFile">NOT Installed</Custom>-->

      <!--this runs on uninstall-->
      <Custom Action="RemoveAccessToConfig" After="InstallFinalize">Installed</Custom>
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action="GetInstalledCertificates" After="CostFinalize" Overridable="yes">NOT Installed</Custom>
    </InstallUISequence>

    <UI>
      <UIRef Id="GUI"/>
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>


    <Feature Id="All" Title="Store and Convert" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <Feature Id="Store" Title="Store" Level="1"  >       
        <ComponentGroupRef Id="Store" />
        <ComponentRef Id="miscellaneous"/>
        <ComponentRef Id="emptyweb"/>
        <ComponentRef Id="emptybackup"/>
        <!-- <ComponentRef Id="dummybackup"/>-->
      </Feature>
      <Feature Id ="Convert" Title="Convert" Level="2">
        <ComponentGroupRef Id="Convert" />
        <Condition Level="1">EBOOKCONVERTER64</Condition>
      </Feature>
    </Feature>

  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="AppDataFolder" Name="AppDataFolder">
        <Directory Id="Store_n_Convert" Name="Store_n_Convert">
          <Component Id="miscellaneous" Guid="ABCDEF01-0124-0123-0123-4D0CC57F505F">
            <RegistryKey Root="HKCU"
                                 Key="Software\Store_n_Convert">
              <RegistryValue Value="Manyrootsofallevil Inc."
                             Type="string"
                             KeyPath="yes" />
            </RegistryKey>
            <File Id="bookmarklet" Source="../Misc/bookmarklet.txt" />
            <File Id="recipe" Source="../Misc/localhost.recipe" Name="heisenbergs.recipe"/>
            <RemoveFolder Id="removeme" On="uninstall"/>
          </Component>
          <!--<Directory Id="Backup" Name="Backup"/>
           <Component Id="dummybackup" Guid="BBCDEF01-0124-0123-0123-4D0CC57F505F">
                <RegistryKey Root="HKCU"
                                     Key="Software\Store and Convert\Backup">
                            <RegistryValue Value="Manyrootsofallevil Inc."
                                           Type="string"
                                           KeyPath="yes" />
                        </RegistryKey>
            -->
          <!--<File Id="sdss" Source="../Misc/bookmarklet.txt" KeyPath="yes"/>-->
          <!--
            <RemoveFolder Id="removebackup" Directory="Backup" On="uninstall"/>
          </Component>-->
        </Directory>
      </Directory>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Store And Convert" >
        <Directory Id="WebPages" Name="WebPages">
          <Component Id="emptyweb" Guid="AAAAAAAA-4884-4A01-AA04-84B92D222428"
        SharedDllRefCount="no" KeyPath="yes" NeverOverwrite="no" Permanent="no" Transitive="no"
        Win64="no" Location="either" >
            <CreateFolder/>
          </Component>
        <Directory Id="Backup" Name="Backup">
          <Component Id="emptybackup" Guid="BAAAAAAA-4884-4A01-AA04-84B92D222428" 
        SharedDllRefCount="no" KeyPath="yes" NeverOverwrite="no" Permanent="no" Transitive="no"
        Win64="no" Location="either">
            <CreateFolder/>
          </Component>
        </Directory>
        </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <!--<Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      --><!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. --><!--
      <Component Id="ProductComponent">
        --><!-- TODO: Insert files, registry keys, and other resources here. --><!--
        <File Id="sdsds" Source="../Misc/bookmarklet.txt"/>
      </Component>
    </ComponentGroup>
  </Fragment>-->



</Wix>

<!--Things that need thinking about:

URL reservations for the following ports (probably a good idea to let the user choose ports or even check that it's not in use)

netsh http add urlacl url=https://*:3141/Storeurl user="NT Authority\Network Service"
netsh http add urlacl url=http://+:2718/Storeurl user="NT Authority\Network Service"

Clearly need the cert hash to do this (handle lack of cert?). The appid only needs to be a guid

netsh http add sslcert ipport=0.0.0.0:3141 certhash=7a134ae770ddde8eed4a313dda7bea19996a21a5 appid="{FEEDDECAF-DEAD-1BED-DEAF-01BEEFDECADE}"

Permissions for directories need to be set

Change config file so that the directories are relative (probably program files)

Write out bookmarklet to respect ports and host name/fqdn-->
