<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="dir39B22699688E51DCD8DCBB99A47E835B" Name="Debug" />
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Store">
      <Component Id="cmp8312B8FE07099985E4D7D29729F992C2" Directory="dir39B22699688E51DCD8DCBB99A47E835B" Guid="*">
        <File Id="fil9EA951DEEF8E32A9F66527455DA3C55F" KeyPath="yes" Source="$(var.Store.TargetDir)\Store.exe" />
        <File Id="fil3A01202C0345E42107E335FDD0FF6986" Source="$(var.Store.TargetDir)\Store.exe.config" />
        <ServiceInstall DisplayName="Store Urls" Name="StoreUrls" Description="Store Urls for later conversion to ebook (mobi)"
                        Account="NT AUTHORITY\Network Service" Type="ownProcess" Start="auto" Vital="yes" ErrorControl="normal"/>
        <ServiceControl Id="StoreUrlsControl" Name="StoreUrls" Start="install" Stop="uninstall" Remove="uninstall"/>
       </Component>

      <Component Id="cmp706127B27360074101B121DACEDB9BA3" Directory="dir39B22699688E51DCD8DCBB99A47E835B" Guid="*">
        <File Id="filF0FFF4441E4714B4EA93D4B37C15990B" KeyPath="yes" Source="$(var.Store.TargetDir)\HtmlAgilityPack.dll" />
      </Component>
      <Component Id="cmp740549ADC8298185F6930BE5189FA47D" Directory="dir39B22699688E51DCD8DCBB99A47E835B" Guid="*">
        <File Id="fil2F1DD6440DBEA981E46B76BF89BDB783" KeyPath="yes" Source="$(var.Store.TargetDir)\StoreWCFService.dll" />
      </Component>
      <Component Id="cmp7389FF5869B5D0D9DDF2291902D8ADF2" Directory="dir39B22699688E51DCD8DCBB99A47E835B" Guid="*">
        <File Id="fil93F8C163A1D1B3CD9A58E51B5AC2F680" KeyPath="yes" Source="$(var.Store.TargetDir)\WcfJsonRestService.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>